style>
    
      @font-face {
  font-display: swap;  
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/playfair-display-v40-latin-regular.woff2') format('woff2');  
}
  @font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/montserrat-v31-latin-regular.woff2') format('woff2'); 
}

    
    body {
      font-family: 'Montserrat', sans-serif;
      background-image: url(images/css-pattern-by-magicpattern.png);  
      background-size: cover;
      color: #3a3a3a;
      margin: 0;
      padding: 0;
      line-height: 1.7; 
    }

    header {
      background-color: #d9f8c4;
      text-align: center;
      padding: 2em;
      border-bottom: 4px dotted #fddde6;
    }

    h1, h2, h3 {
      font-family: 'Playfair Display', sans-serif;
      color: #3a3a3a;
      margin-bottom: 0.5em;
    }

    h1 {
      font-size: 2.5em;
      color: #6bbf59;
      text-shadow: 1px 1px #fff6b7;
    }

    h2 {
      font-size: 2em;
      color: #86d293;
    }

    h3 {
      font-size: 1.6em;
      color: #b2e4db;
    }

    p {
      font-size: 1.1em;
      background-color: rgba(255, 246, 183, 0.6);
      padding: 1em;
      border-radius: 15px;
      margin: 1.5em auto;
      width: 80%;
    }

    section {
      background-color: rgba(255, 253, 246, 0.8);
      margin: 2em auto;
      padding: 2em;
      border-radius: 25px;
      width: 85%;
      box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
    }

    img {
      display: block;
      max-width: 90%;
      margin: 1em auto;
      border: 3px solid #b2e4db;
      border-radius: 20px;
      background-color: #fffdf6;
      box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    }

    footer {
      text-align: center;
      padding: 1.5em;
      font-size: 0.9em;
      background-color: #b2e4db;
      border-top: 4px dotted #fddde6;
    }

    a {
      color: #6bbf59;
      text-decoration: none;
      font-weight: 600;
      transition: 0.3s ease;
    }

    a:hover {
      color: #fddde6;
    }

  </style>